body {
    font-family: 'Arial', sans-serif;
    background-color: aqua;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
